# ==============================
# Banco de Dados / Docker
# ==============================
postgres-data/
postgres-data-NOVO/
*.pid
*.conf
pg_*
PG_*

# ==============================
# Logs do Docker/PostgreSQL
# ==============================
*.log
docker-compose.override.yml
